# # Anotações diárias
# 1 - Anotações Segunda-Feira.md
# 2 - Anotações Terça-Feira.md
# 3 - Anotações Quarta-Feira.md
# 4 - Anotações Quinta-Feira.md
# 5 - Anotações Sexta-Feira.md
# 6 - Anotações Sábado.md
# 7 - Anotações Domingo.md